<html>
	<head>
		<style>
			div {color:block; font-size:16pt}
			div.footer {color:blue; font-size:12pt}
		</style>
	</head>
	<body>
		<div>Dear ${user.username},</div>
		<br/>
		<div>A screening program for sampler <strong>${samplerId}</strong> has been created. <br/>
		     The program starts on ${startDate}. Following are the <br/>
		     parameters that need to be sampled:<br/>
		     <strong>${parameters}<strong>
		</div>
		
		<br/>
		<hr color="" align="left" width="70%" size="2">
		<img src="cid:image"/><br/>
		<div class="footer">
			Tiffany Gold Mine<br/>
			Website: <a href="http://uq.edu.au">uq.edu.au</a>
		</div>
	</body>
</html>