<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.tiffany.model.User"/>
        <mapping class="com.tiffany.model.Role"/>
        <mapping class="com.tiffany.model.Sample"/>
        <mapping class="com.tiffany.model.Sampler"/>
        <mapping class="com.tiffany.model.Waterbody"/>
        <mapping class="com.tiffany.model.Contractor"/>
        <mapping class="com.tiffany.model.ParameterNames"/>
        <mapping class="com.tiffany.model.ParameterThresholds"/>
        <mapping class="com.tiffany.model.ScreeningFrequency"/>
    </session-factory>
</hibernate-configuration>